@model AdonetExample.Models.EmployeeModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@Model.EmpId<br />
@Model.EmpName<br />
@Model.EmpSalary<br />

<h1>Are you sure you want to Delete Record?</h1>

<form action="~/Employee/Delete/@Model.EmpId" method="post">
    <input type="submit" value="Delete" class="Warning" />
</form>