
@{
    ViewBag.Title = "SaveData";
}

<h2>SaveData</h2>

<form action="~/Employee/SaveData" method="post">
    <label>EmpName</label>
    <input type="text"   name="EmpName1" /><br />

    <label>EmpSalary</label>
    <input type="text"   name="EmpSalary1" /><br />

    <input type="submit" class="btn btn-success"/>
</form>